
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
/files/*
!/files/.gitkeep
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###
