includes:
    - vendor/pixidos/coding-standards/src/phpstan.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    autoload_files:
        - vendor/autoload.php
    autoload_directories:
        - %rootDir%/../../../src/Migrations
    paths:
        - src
        - tests

    level: max
    inferPrivatePropertyTypeFromConstructor: true

